body {
    font-family: "Open Sans";
}
a {
    font-size: 36px;
    font-weight: 200;
    text-decoration:none;
    color: #ffffd5;
}
a:hover {
    cursor: pointer;
    color: #F5C16C;
}
a:active {
    cursor:grabbing;
    color: #b7ffb5;
}
.header {
    color: #ffffd5;
    background-color: #693072;
    font-size: 12 px;
    text-align: left;
    text-decoration: none;
    font-family: "Open Sans"
}
.title {
    font-size: large;
    font-family: "Princess Sofia", "Remedy, sans-serif";
    font-style: normal;
    font-weight: 400;
}
.dragonflyprint {
    width: 100vw;
}
.awcbrochure {
    width: 100vw;
}
.awcpromo {
 width: 100vw;
}
.scopebrochure {
    width: 100vw;
}
.waterbook {
    width:100vw;
}
.circusbook {
    width: 100vw;
}
h2 {
    font-family: "Princess Sofia"; 
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    color: #ffffd5; 
}
h6 {
    color:#FFFFD5;
    background-color: #693072;
    font-size: 6 px;
    font-family: "Open Sans";
    text-decoration: none;
}
.footer {
    color: #ffffd5;
    background-color: #693072;
    font-size: 6 px;
    text-align: left;
    text-decoration: none;
    font-family: "Open Sans"
}
h1 {
    color: #693072;
    font-size: 18px;
}
h4 {
    color: #693072;
    font-size: 14px;
    font-weight: 200;
}
.largertext {
    color:#693072;
    font-size: 36px;
    text-align: center;
    font-weight:400px;
}
.button {
    color:#693072;
    background-color: #ffffd5;
    border-style:dotted;
    text-align:center;
    border-radius: 3rem;
    width: 150px;
    height:30px;
}
.button:hover {
    cursor: pointer;
    color: #F5C16C;
}